@import url("https://fonts.googleapis.com/css?family=Rajdhani");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

/* General settings
================================================================== */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: 'Rajdhani', sans-serif;
    color: #202020;
    background-color: #FAFAFA;
    font-smooth: always;
    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    margin: 0;
    padding: 0;
}


body {
    input, button {
        font-family: 'Rajdhani', sans-serif;
    }

    ::placeholder {
        font-family: 'Rajdhani', sans-serif;
    }

    ::-webkit-input-placeholder {
        font-family: 'Rajdhani', sans-serif;
    }

    :-ms-input-placeholder {
        font-family: 'Rajdhani', sans-serif;
    }

    :-moz-placeholder {
        font-family: 'Rajdhani', sans-serif;
    }

    ::-moz-placeholder {
        font-family: 'Rajdhani', sans-serif;
    }

}


.tasks {
    input, button {
        font-family: 'Montserrat', sans-serif;
    }

    ::placeholder {
        font-family: 'Montserrat', sans-serif;
    }

    ::-webkit-input-placeholder {
        font-family: 'Montserrat', sans-serif;
    }

    :-ms-input-placeholder {
        font-family: 'Montserrat', sans-serif;
    }

    :-moz-placeholder {
        font-family: 'Montserrat', sans-serif;
    }

    ::-moz-placeholder {
        font-family: 'Montserrat', sans-serif;
    }
}


/* Variables
================================================================== */
$generic-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 4px 11px;
$generic-border: 1px solid #F1F1F1;
$generic-bg: #FF9000;
$desktopSwitch: '200px'; // Change this to update what width the side changes layout

/* Mixins
================================================================== */
@mixin box-overlay() {
    box-shadow: $generic-box-shadow;
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 85px;
    border-radius: 3px;
}

@mixin va($va-align: center) {
    display: flex;
    align-items: center;

    @if $va-align != center {
        justify-content: left;
    } @else {
        justify-content: center;
    }
}

@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin btn($width, $bg-color) {
    width: $width;
    background-color: $bg-color;
    color: #FFFFFF !important;
    border: 1px solid transparent;
    margin-right: 5px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 13px !important;
    line-height: 17px;
    padding: 6px 12px 7px 12px;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    border-radius: 3px !important;
    text-decoration: none !important;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}

@mixin cancel() {
    color: #555555;
    cursor: pointer;
    font-size: 14px;
    margin: 2px 5px;
    text-transform: uppercase;
}

@mixin task-item() {
    list-style-type: none;
    display: flex;
    line-height: 18px;
    color: #333333;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    border-bottom: 1px solid #F0F0F0;
    padding-left: 10px;
    cursor: pointer;

    &:hover {
        background-color: #FAFAFA;
        font-weight: bold;
    }

    .project-overlay__dot {
        margin-right: 10px;;
    }

    &:nth-child(1) {
        .project-overlay__dot {
            color: #6ACCBC;
        }
    }

    &:nth-child(2) {
        .project-overlay__dot {
            color: #FAD003;
        }
    }

    &:nth-child(3) {
        .project-overlay__dot {
            color: #FF8D85;
        }
    }

    &:nth-child(4) {
        .project-overlay__dot {
            color: #FF9932;
        }
    }

    &:nth-child(5) {
        .project-overlay__dot {
            color: #AF38EB;
        }
    }
}

@mixin mq($from) {
    @media (max-width: $from) {
        @content;
    }
}

@mixin darkmode{
    color: #FAFAFA;
    border-color: #333333;
    background-color: #282828;
}

/* Darkmode
================================================================== */
.darkmode {
    header {
        -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
        background-color: #6495ED;
        border-color: transparent;
    }

    .sidebar {
        @include darkmode();

        &__generic li,
        &__projects li,
        &__middle,
        &__middle span,
        &__middle h2,
        &__functions,
        .add-project__text,
        .add-project__cancel,
        .project-delete-modal__inner,
        .project-delete-modal__inner p,
        .project-delete-modal__inner span
        {
            @include darkmode();
        }

        &__generic li, &__projects li, .sidebar__functions span {
            &.active, &:hover {
                background-color: #545454;
            }
        }
    }

    .tasks {
        @include darkmode();

        &__list li,
        .add-task__text,
        .add-task__cancel,
        .add-task__project,
        .add-task__date,
        .task-date li,
        .project-overlay li
        {
            @include darkmode();
        }

        .project-overlay li, .task-date li {
            &.active, &:hover {
                background-color: #545454;
            }
        }
    }

}

/* Header
================================================================== */
header {
    border-bottom: 1px solid #FF9000;
    background-color: $generic-bg;
    transition: height 2--ms ease-in;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    height: 44px;
    z-index: 400;
    position: fixed;
    top: 0;
    width: 100%;

    @include mq($desktopSwitch) {
        padding: 0 10px;
    }
}

nav {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 922px;
    margin: auto;
    height: 44px;

    p, li {
        color: white;
    }
}


div {
    &.logo {
        color: white;
        grid-area: 1/1;
        @include va(left);
        padding-left: 10px;

        span {
            padding-left: 10px;
            font-size: 20px;
        }
    }

    &.settings {
        grid-area: 1/2;
        text-align: right;
        ul {
            float: right;
            li {
                @include va;
                list-style-type: none;
                cursor: pointer;
                padding: 0 10px;
                height: 44px;
                width: 44px;
                text-align: center;
                vertical-align: middle;
                float: left;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.20);
                    border-radius: 3px;
                }

                &.settings__add {
                    margin-right: 10px;
                }
            }
        }
    }
}

/* Sidebar
================================================================== */
.sidebar {
    @include no-select();
    width: 266px;
    height: calc(100vh);
    padding-top: 75px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    border-right: $generic-border;
    background-color: #FAFAFA;

    @include mq($desktopSwitch) {
        display: none;
    }

    li {
        padding-left: 10px;
        padding-right: 10px;

        // NOTE A 1/2: To enable a hover show/hide use this
        // &:hover .sidebar__project-delete {
        //     display: block;
        // }
    }

    &__project {
        @include va('left');
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;

        &-delete {
            margin-left: auto;
            // NOTE A 2/2: To enable a hover show/hide use this
            // display: none;

            svg {
                color: #CACACA;
            }
        }

        &.active, &:hover {
            font-weight: bold;
            background-color: white;
        }

        &:nth-child(1) {
            .sidebar__dot {
                color: #6ACCBC;
            }
        }

        &:nth-child(2) {
            .sidebar__dot {
                color: #FAD003;
            }
        }

        &:nth-child(3) {
            .sidebar__dot {
                color: #FF8D85;
            }
        }

        &:nth-child(4) {
            .sidebar__dot {
                color: #FF9932;
            }
        }

        &:nth-child(5) {
            .sidebar__dot {
                color: #AF38EB;
            }
        }
    }

    &__dot {
        margin-right: 10px;
    }

    &__middle {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        border-bottom: $generic-border;
        padding-left: 10px;
        cursor: pointer;

        span {
            color: #00000A;
            margin-right: 10px;
        }

        h2 {
            margin: 0;
            color: #333333;
            font-size: 15px;
            font-weight: bold;
            padding-bottom: 20px;
        }
    }

    &__functions {
        display: flex;
        font-size: 14px;
        justify-content: center;
        color: #00000A;

        span {
            padding: 10px;
            border-radius: 3px;
            cursor: pointer;

            &.active, &:hover {
                font-weight: bold;
                background-color: white;
            }
        }
    }


    &__generic {
        li {
            padding: 10px 0 10px 10px;
            list-style-type: none;
            color: #333333;
            display: flex;
            cursor: pointer;
            line-height: 1.50;
            font-size: 15px;

            span:first-of-type {
                margin-right: 10px;

                svg {
                    width: 18px;
                    height: 18px;
                }
            }

            &.active, &:hover {
                font-weight: bold;
                background-color: white;
            }
        }

    }
}

/* Show Confirm Delete
================================================================== */
.project-delete-modal {
    position: relative;

    &__inner {
        @include box-overlay();
        z-index: 99;
        width: 200px;
        padding: 20px;
        top: 10px;
        right: 0;
        background-color: white;
        cursor: default;

        p {
            margin-top: 5px;
            margin-bottom: 5px;
            line-height: normal;
            font-weight: normal;
            font-size: 15px;
            color: #333333;
        }

        button {
            @include btn("50px", red);
        }

        span {
            @include cancel();
            font-weight: normal;
        }

    }
}

/* Main Content
================================================================== */
.content {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    max-width: 922px;
    margin: auto;
}

/* Tasks
================================================================== */
.tasks {
    font-family: 'Montserrat', sans-serif;
    width: 656px;
    background-color: white;
    margin-left: 266px;
    border-right: $generic-border;
    min-height: calc(100vh);
    vertical-align: top;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 80px;
    padding-bottom: 84px;

    @include mq($desktopSwitch) {
        margin-left: 0;
        width: auto;
    }

    h2 {
        font-size: 20px;
        font-weight: normal;
        margin: 0 30px 20px 0;
    }

    .add-task {
        margin-top: 20px;
    }

    &__list li {
        display: flex;
        line-height: 18px;
        color: #333333;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 14px;
        list-style-type: none;
        border-bottom: 1px solid #F0F0F0;

        .checkbox-holder {
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 16px;

            .checkbox {
                cursor: pointer;
                border-color: gray;
                color: #343434;
                height: 16px;
                width: 16px;
                display: block;
                border: 1px solid gray;
                border-radius: 16px;
            }
        }
    }
}

/* Add Task
================================================================== */
.add-task {
    &__overlay {
        background-color: rgba(102, 102, 102, 0.5);
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2000;
        transition: opacity 0.2s ease-in;
        height: calc(100vh);

        .add-task__main {
            overflow: visible;
            margin-bottom: 20px;
            margin-top: 50px;
            border-radius: 5px;
            background-color: white;
            position: absolute;
            left: 50%;
            top: 50%;
            padding: 20px 30px;
            transform: translate(-50%, -50%);

            .header {
                font-size: 13px;
                margin-bottom: 20px;
                float: left;
            }
        }

        .add-task__cancel-x {
            cursor: pointer;
            color: gray;
            float: right;
            font-weight: bold;
            font-size: 12px;
            margin-top: 10px;
        }
    }

    &__main {
        position: relative;
    }

    &__project, &__date {
        cursor: pointer;
        float: right;
        color:gray;
        margin: 20px 10px;
    }

    &__project {
        margin-right: 0;
    }

    &__content {
        width: 100%;
        border: 1px solid #DDDDDD;
        background-color: white !important;
        border-radius: 3px;
        height: 35px;
        padding-left: 10px;
        padding-right: 10px;
    }

    &__submit {
        @include no-select();
        @include btn("100px", green);
    }

    &__cancel {
        @include no-select();
        @include cancel();
    }

}

.add-task__shallow, .add-project {
    @include no-select();
    cursor: pointer;
    margin-bottom: 20px;
}

.add-task__plus, .add-project__plus {
    color: green;
    font-size: 18px;
    padding-right: 10px;
    cursor: pointer;
}

.add-task__text, .add-project__text {
    display: inline-block;
    color: #545454;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

/* Task date
================================================================== */
.task-date {
    @include box-overlay();
    background-color: #FFFFFF;
    width: 200px;
    right: 0;

    &__list li {
        @include task-item();

        span:first-of-type {
            margin-right: 10px;

            svg {
                fill: gray;
            }
        }
    }
}

/* Project Overlay
================================================================== */
.project-overlay {
    @include box-overlay();
    background-color: white;

    &__list li {
        @include task-item();
    }
}

/* Add Project
================================================================== */
.add-project {
    @include va(left);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;

    &__input {
        margin-bottom: 20px;
    }

    &__name {
        width: 100%;
        border: 1px solid #DDDDDD;
        background-color: white;
        border-radius: 3px;
        height: 35px;
        padding-left: 10px;
        padding-right: 10px;
    }

    &__submit {
        @include btn("100px", green);
    }

    &__cancel {
        @include cancel();
    }
}